.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


header {
    @extend .clearfix;
    background: #59b0e7;
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0 10px 0;
        @extend .clearfix;
    }
    .logo {
        width: 50%;
        float: left;
        .image {
            width: 315px;
            height: 60px;
            background: url(../../assets/help_center_logo.png) 50% 50% no-repeat;
            display: inline-block;
        }
    }

    .search-container {
        width: 50%;
        float: left;
        input {
            border: none;
            padding: 17px;
            padding-left: 60px;
            border-radius: 6px;
            background: rgba(225, 225, 255, 0.6);
            width: 100%;
            box-sizing: border-box;
            font-size: 22px;
            color: #fff;
            font-weight: 100;
            &::-webkit-input-placeholder {
                color: #fff;
                font-weight: 100;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: #fff;  
                font-weight: 100;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                color: #fff;  
                font-weight: 100;
            }

            &:-ms-input-placeholder {  
                color: #fff;  
                font-weight: 100;
            }
        }
    }
}