<header>
  <div class="container">
    <div class="logo">
      <span class="image"></span>
    </div>

    <div class="search-container">
      <input type="text" placeholder="Search anything">
    </div>
  </div>
</header>