<main>
  <div class="container">
    <h1>The best place to learn Fabuwood's warehouse operations</h1>

    <div class="card">
      <h2>Picking Operations</h2>
      <div class="link-container">
        <div class="link">
          <span routerLink="/article/crisis-center">Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>

        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>
      </div>
    </div>


    <div class="card">
      <h2>Warehouse Printers</h2>
      <div class="link-container">
        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>

        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>
      </div>
    </div>


    <div class="card">
      <h2>Inventory Operations</h2>
      <div class="link-container">
        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>

        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>
      </div>
    </div>


    <div class="card">
      <h2>Shipping Operations</h2>
      <div class="link-container">
        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>

        <div class="link">
          <span>Basic picking form</span>
        </div>

        <div class="link">
          <span>Bypass inconplete pick</span>
        </div>

        <div class="link">
          <span>Batch Pincking</span>
        </div>

        <div class="link">
          <span>Pick Sheets</span>
        </div>

        <div class="link">
          <span>All Picking blocks</span>
        </div>
      </div>
    </div>
  </div>
</main>