$rich-blue: #5db8f1;

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

main {
    background: $rich-blue;
    width: 100%;
    @extend .clearfix;
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        @extend .clearfix;
        h1 {
            text-align: center;
            margin: 50px auto 43px auto;
            color: #d4eafd;
            font-size: 22px;
            display: inline-block;
            width: 100%;
        }
    }
}

.card {
    background: #fff;
    border-radius: 6px;
    padding: 35px 30px;
    margin-bottom: 38px;
    width: 48%;
    float: left;
    box-sizing: border-box;
        box-shadow: 1px 1px 7px #999;
    &:nth-child(odd){
        margin-left: 2%;
    }
    &:nth-child(even){
        margin-right: 2%;
    }
    h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #666;
    }
    .link-container {
        @extend .clearfix;
        .link {
            width: 40%;
            margin-left: 10%;
            float: left;
            margin-bottom: 25px;
            color: #3d8ec1;
            font-weight: 500;
            font-size: 15px;
            text-decoration: underline;

        }
    }
}