<nav>
  <h2>
    <span class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    <span class="text">Picking Operations</span>

  </h2>

  <ul>
    <li class="active">Basic picking form </li>
    <li>Bypassing incomplete pick</li>
    <li>Baatch Picking </li>
    <li>Pick Sheets</li>
    <li>All Picking blockes </li>
    <li>Location handling </li>
    <li>Scaning rules</li>
    <li>Override Policies</li>
    <li>Stock Management</li>
    <li>Team Rules</li>
  </ul>
</nav>

<main>
  <div class="container">
    <h1>Completing a vasic picking sheet from device</h1>

    <div class="article-info">
      <span class="image"></span>
      <span class="writer">
      <div class="name">Alex Tottenstein</div>
      <div class="role">Picking Manager</div>
    </span>
      <span class="date">
      <div class="pub">
        <span>Published on: 10/12/2016</span>
    </div>
    <div class="mod">
      <span>Last Modified on: 1/02/2017</span>
    </div>
    </span>
    <div class="edit">
      <span>Edit Article</span>
    </div>
  </div>

  <article>
    <h2>Tap on a sheet</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit. Ut voluptate in, quas, ea doloribus suscipit repudiandae
      tempora iste sit, deleniti ab cumque. Cumque beatae assumenda, odit blanditiis ex.
    </p>
  </article>

  <article>
    <h2>Scan Location</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit. Ut voluptate in, quas, ea doloribus suscipit repudiandae
      tempora iste sit, deleniti ab cumque. Cumque beatae assumenda, odit blanditiis ex.
    </p>
  </article>

  <article>
    <h2>Scan Serials</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit. Ut voluptate in, quas, ea doloribus suscipit repudiandae
      tempora iste sit, deleniti ab cumque. Cumque beatae assumenda, odit blanditiis ex.
    </p>
  </article>

  <article>
    <h2>Picking complete</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit. Ut voluptate in, quas, ea doloribus suscipit repudiandae
      tempora iste sit, deleniti ab cumque. Cumque beatae assumenda, odit blanditiis ex.
    </p>
  </article>

  <article>
    <h2>Junk Sheet</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit. Ut voluptate in, quas, ea doloribus suscipit repudiandae
      tempora iste sit, deleniti ab cumque. Cumque beatae assumenda, odit blanditiis ex.
    </p>
  </article>
  </div>

</main>