.clearfix:after {
    content: '';
    display: block;
    clear: both;

}

nav {
    background: #efefef;
    width: 21%;
    float: left;
    height: 85vh;

    h2 {
        margin-bottom: 40px;
        margin-top: 50px;
        font-weight: 700;
        .back {
            padding: 20px;
        }
        .text {
            font-size: 24px;
        }
    }

    ul {
        margin-left: 60px;
        li {
            padding: 1px 7px;
            margin: 20px 0;
            color: #666;
            &.active {
                color:#59b0e7;
                border-left: 3px solid #59b0e7;
                font-weight: 500;
            }
        }
    }
}

main {
    width: 74%;
    background: #f9f9fb;
    float: left;
    padding-top: 60px;
    padding-left: 5%;
    height: 100%;

    .container {
        max-width: 1000px;
    }
    h1 {
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #444;
    }
    .article-info {
        @extend .clearfix;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 7px 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 50px;
        .image {
            height: 45px;
            width: 45px;
            border-radius: 50px;
            background: #aaa;
        }
        .writer {
            margin-left: 20px;
            .name {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;
                color: #666;
            }
            .role {
                font-size: 13px;
                color: #aaa;
                margin-top: 5px;
            }
        }
        .date {
            margin-left: 20px;
            color: #aaa;
            font-size: 13px;
            .pub {
                margin-bottom: 9px;
            }
        }
        .edit {
            float: right;
            padding: 8px 13px;
            background: #666;
            color: #fff;
            margin-left: auto;
            border-radius: 4px;
            font-weight: 100;
            font-size: 14px;
        }
    }

    article {
        margin-bottom: 40px;
        h2 {
            color: #59b0e7;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p {
            color: #666;
            font-size: 17px;
            line-height: 28px;

        }
    }
}